<ion-header>
  <ion-toolbar>
    <ion-title>SkeletonAPP</ion-title>
  </ion-toolbar>
  <h6>Aqui comienza todo</h6>
</ion-header>

<ion-content>
  <form #loginForm="ngForm" (ngSubmit)="onLogin()">
    <ion-item>
      <h1>Bienvenido!</h1>
      <ion-label position="floating">Usuario</ion-label>
      <ion-input
        type="text"
        [(ngModel)]="loginData.username"
        name="username"
        required
        minlength="3"
        maxlength="8">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input
        type="password"
        [(ngModel)]="loginData.password"
        name="password"
        required
        pattern="[0-9]{4}">
      </ion-input>
    </ion-item>

    <ion-button expand="full" type="submit">Ingresar</ion-button>
  </form>
</ion-content>
